<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Maven Test Suite">
    <test name="Smoke Test">
         <classes>
             <class name="com.testmv.TestA"/>
             <class name="com.testmv.TestB"/>
          </classes>
     </test> 
</suite> 
